<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.AgentMapper">
  <resultMap id="BaseResultMap" type="com.yilin.app.domain.Agent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="apply_level" jdbcType="INTEGER" property="applyLevel" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="voucher" jdbcType="VARCHAR" property="voucher" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="serise" jdbcType="TINYINT" property="serise" />
    <result column="autitor" jdbcType="INTEGER" property="autitor" />
    <result column="inviter" jdbcType="INTEGER" property="inviter" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, apply_level, name, voucher, description, status, serise, autitor, inviter
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yilin.app.domain.Agent">
    insert into agent (id, user_id, apply_level, 
      name, voucher, description, 
      status, serise, autitor, 
      inviter)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{applyLevel,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{voucher,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{serise,jdbcType=TINYINT}, #{autitor,jdbcType=INTEGER}, 
      #{inviter,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yilin.app.domain.Agent">
    insert into agent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="applyLevel != null">
        apply_level,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="voucher != null">
        voucher,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="serise != null">
        serise,
      </if>
      <if test="autitor != null">
        autitor,
      </if>
      <if test="inviter != null">
        inviter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="applyLevel != null">
        #{applyLevel,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null">
        #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="serise != null">
        #{serise,jdbcType=TINYINT},
      </if>
      <if test="autitor != null">
        #{autitor,jdbcType=INTEGER},
      </if>
      <if test="inviter != null">
        #{inviter,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.Agent">
    update agent
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="applyLevel != null">
        apply_level = #{applyLevel,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="voucher != null">
        voucher = #{voucher,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="serise != null">
        serise = #{serise,jdbcType=TINYINT},
      </if>
      <if test="autitor != null">
        autitor = #{autitor,jdbcType=INTEGER},
      </if>
      <if test="inviter != null">
        inviter = #{inviter,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.Agent">
    update agent
    set user_id = #{userId,jdbcType=INTEGER},
      apply_level = #{applyLevel,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      voucher = #{voucher,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      serise = #{serise,jdbcType=TINYINT},
      autitor = #{autitor,jdbcType=INTEGER},
      inviter = #{inviter,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>