<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.OrdersMapper">
    <resultMap id="PageMap" type="HashMap">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="addr_id" jdbcType="INTEGER" property="addrId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="serise" jdbcType="TINYINT" property="serise"/>
        <result column="addr_name" jdbcType="VARCHAR" property="addrName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="ssq" jdbcType="VARCHAR" property="ssq"/>
        <result column="addr" jdbcType="VARCHAR" property="addr"/>
        <result column="no" jdbcType="VARCHAR" property="no"/>
        <result column="com" jdbcType="VARCHAR" property="com"/>
        <result column="express" jdbcType="VARCHAR" property="express"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="totals" jdbcType="VARCHAR" property="totals"/>
    </resultMap>

    <resultMap id="CountMap" type="HashMap">
        <result column="countNum" jdbcType="INTEGER" property="countNum"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.yilin.app.domain.Orders">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="serise" jdbcType="TINYINT" property="serise"/>
        <result column="totals" jdbcType="REAL" property="totals"/>
        <result column="addr_name" jdbcType="VARCHAR" property="addrName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="ssq" jdbcType="VARCHAR" property="ssq"/>
        <result column="addr" jdbcType="VARCHAR" property="addr"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, status, time, description, serise, totals, addr_name, phone, ssq, addr
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from orders
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.yilin.app.domain.Orders">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="serise != null">
                serise,
            </if>
            <if test="totals != null">
                totals,
            </if>
            <if test="addrName != null">
                addr_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="ssq != null">
                ssq,
            </if>
            <if test="addr != null">
                addr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="serise != null">
                #{serise,jdbcType=TINYINT},
            </if>
            <if test="totals != null">
                #{totals,jdbcType=REAL},
            </if>
            <if test="addrName != null">
                #{addrName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="ssq != null">
                #{ssq,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                #{addr,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.Orders">
        update orders
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="serise != null">
                serise = #{serise,jdbcType=TINYINT},
            </if>
            <if test="totals != null">
                totals = #{totals,jdbcType=REAL},
            </if>
            <if test="addrName != null">
                addr_name = #{addrName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="ssq != null">
                ssq = #{ssq,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                addr = #{addr,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.Orders">
    update orders
    set user_id = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      time = #{time,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      serise = #{serise,jdbcType=TINYINT},
      totals = #{totals,jdbcType=REAL},
      addr_name = #{addrName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      ssq = #{ssq,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <select id="selectList" parameterType="map" resultMap="PageMap">
        select
        o.id, o.user_id, o.status, o.time,description
        ,o.addr_name,o.totals,
        o.phone,o.ssq,o.addr,l.id no,l.com
        from orders o
        left join logistics l on l.order_id = o.id
        where 1=1
        <if test="userId != null">
            and o.user_id = #{userId}
        </if>
        <if test="status != null">
            and o.status = #{status}
        </if>
        order by o.time desc
        limit #{start},#{pageSize}
    </select>

    <select id="selectList2" parameterType="map" resultMap="PageMap">
        select
        o.id, o.user_id,o.status, o.time,description
        ,o.addr_name,o.serise,
        o.phone,o.ssq,o.addr,l.id no,l.com,o.totals
        from orders o
        left join logistics l on l.order_id = o.id
        where o.status != 1
        <if test="orderId != null and orderId != ''">
            and o.id = #{orderId}
        </if>
        <if test="status != null">
            and o.status = #{status}
        </if>
        <if test="addrName != null and addrName != '' ">
            and o.addr_name like '%${addrName}%'
        </if>
        <if test="phone != null and phone != ''">
            and o.phone = #{phone}
        </if>
        order by o.time desc
        limit #{start},#{pageSize}
    </select>

    <select id="selectList3" parameterType="map" resultMap="PageMap">
        select
        o.id, o.user_id, o.status, o.time,description
        ,o.addr_name,o.totals,e.name express,
        o.phone,o.ssq,o.addr,l.id no,l.com
        from orders o
        left join logistics l on l.order_id = o.id
        LEFT JOIN  express e on e.com = l.com
        where 1=1
        <if test="start != null">
            and o.time &gt;= #{start}
        </if>
        <if test="end != null">
            and o.time &lt;= #{end}
        </if>
        <if test="status != null">
            and o.status = #{status}
        </if>
        order by o.time desc
    </select>

    <select id="count" parameterType="map" resultType="int">
        select
        count(*)
        from orders o
        where o.status != 1
        <if test="orderId != null">
            and id = #{orderId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="addrName != null">
            and o.addr_name like '%${addrName}%'
        </if>
        <if test="phone != null">
            and o.phone = #{phone}
        </if>

    </select>

    <select id="countAll" parameterType="map" resultMap="CountMap">
        select
        count(*) countNum,status
        from orders
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        GROUP by status
    </select>

    <update id="updateStatus" parameterType="map">
        update orders set status= #{status} where id = #{orderId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="oldStatus != null">
            and status = #{oldStatus}
        </if>
    </update>

    <delete id="deleteById" parameterType="map">
    delete from orders  where user_id = #{userId} and id = #{id} and status in (1,4,7)
  </delete>

    <select id="selectById" parameterType="java.lang.String" resultMap="PageMap">
    select
    o.id, o.user_id, o.status, o.time,o.description,
    o.addr_name,o.totals,o.serise,u.name,
    o.phone,o.ssq,o.addr,l.id no,l.com
    from orders o
    LEFT join user u on u.id= o.user_id
    left join logistics l on l.order_id = o.id
    where o.id = #{id,jdbcType=VARCHAR}
</select>



    <select id="selectStatus" parameterType="java.lang.String" resultType="byte">
        select
        status
        from orders o
        where id = #{orderId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.yilin.app.domain.Orders">

    insert into orders (id, user_id, status,
      time, description, serise,
      totals, addr_name, phone,
      ssq, addr)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT},
      #{time,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{serise,jdbcType=TINYINT},
      (select sum(price*num) from order_comm where order_id = #{id,jdbcType=VARCHAR}), #{addrName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{ssq,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR})
    </insert>
</mapper>