<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.OrderCommMapper">
  <resultMap id="BaseResultMap" type="com.yilin.app.domain.OrderComm">
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="comm_id" jdbcType="INTEGER" property="commId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="serise" jdbcType="TINYINT" property="serise" />
  </resultMap>
  <resultMap id="PageMap" type="HashMap">
    <result column="comm_id" jdbcType="INTEGER" property="commId" />
    <result column="name" jdbcType="VARCHAR" property="commName" />
    <result column="e_name" jdbcType="VARCHAR" property="eName" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="aPrice" jdbcType="REAL" property="aPrice" />
    <result column="mPrice" jdbcType="REAL" property="mPrice" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="serise" jdbcType="TINYINT" property="serise" />
  </resultMap>
  <insert id="insert" parameterType="com.yilin.app.domain.OrderComm">
    insert into order_comm (order_id, comm_id, num, 
      price, serise)
    values (#{orderId,jdbcType=VARCHAR}, #{commId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{price,jdbcType=REAL}, #{serise,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yilin.app.domain.OrderComm">
    insert into order_comm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="commId != null">
        comm_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="serise != null">
        serise,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="commId != null">
        #{commId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="serise != null">
        #{serise,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <select id="selectList" parameterType="map" resultMap="PageMap">
      SELECT oc.comm_id,name,oc.num,oc.price aPrice,m.price mPrice,a.price aPrice,oc.serise,scale,img,e_name
      from order_comm oc
      LEFT JOIN commodity c on c.id = comm_id
      left join orders o on o.id = #{orderId}
      left join price m on c.id = m.comm_id and m.role_id = 0
      left join price a on c.id = a.comm_id and a.role_id = (SELECT role_id from user_role where user_id = o.user_id and serise = c.serise)
      where order_id = #{orderId}
  </select>
</mapper>