<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.PosterMapper">
    <resultMap id="BaseResultMap" type="com.yilin.app.domain.Poster">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="page" jdbcType="VARCHAR" property="page"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <resultMap id="PageMap" type="HashMap">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="page" jdbcType="VARCHAR" property="page"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, page, type, size, status, time, content
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from poster
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poster
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yilin.app.domain.Poster">
    insert into poster (id, name, page, 
      type, size, status, 
      time, content)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{page,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{size,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{time,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yilin.app.domain.Poster">
        insert into poster
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="page != null">
                page,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="page != null">
                #{page,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="size != null">
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.Poster">
        update poster
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="page != null">
                page = #{page,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.Poster">
    update poster
    set name = #{name,jdbcType=VARCHAR},
      page = #{page,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      size = #{size,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      time = #{time,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="count" parameterType="map" resultType="int">

        SELECT count(*) from poster
        where 1=1
        <if test="type != null and type != -1">
            and type = #{type}
        </if>
        <if test="page != null and page != ''">
            and page = #{page}
        </if>
    </select>

    <select id="selectList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from poster
        where 1=1
        <if test="type != null and type != -1">
            and type = #{type}
        </if>
        <if test="page != null and page != ''">
            and page = #{page}
        </if>
        limit #{start},#{pageSize}
    </select>

    <select id="selectContent" parameterType="map" resultType="String">
        SELECT
        content
        from poster
        where 1=1
        <if test="type != null and type != -1">
            and type = #{type}
        </if>
        <if test="page != null and page != ''">
            and page = #{page}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>
</mapper>