<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.RebateMapper">
    <resultMap id="BaseResultMap" type="com.yilin.app.domain.Rebate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="serise" jdbcType="TINYINT" property="serise"/>
        <result column="money" jdbcType="REAL" property="money"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, serise, money, time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rebate
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rebate
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yilin.app.domain.Rebate">
    insert into rebate (id, user_id, serise, 
      money, time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{serise,jdbcType=TINYINT}, 
      #{money,jdbcType=REAL}, #{time,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.yilin.app.domain.Rebate">
        insert into rebate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="serise != null">
                serise,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="time != null">
                time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="serise != null">
                #{serise,jdbcType=TINYINT},
            </if>
            <if test="money != null">
                #{money,jdbcType=REAL},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.Rebate">
        update rebate
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="serise != null">
                serise = #{serise,jdbcType=TINYINT},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=REAL},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.Rebate">
    update rebate
    set user_id = #{userId,jdbcType=INTEGER},
      serise = #{serise,jdbcType=TINYINT},
      money = #{money,jdbcType=REAL},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectPage" parameterMap="map" resultType="com.yilin.app.domain.Rebate">
        SELECT
        <include refid="Base_Column_List"/>
        from rebate
        where user_id = #{userId}
        limit #{start},#{pageSize}
    </select>
</mapper>