<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.RebateMapper">

    <resultMap id="PageMap" type="HashMap">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="serise" jdbcType="TINYINT" property="serise"/>
        <result column="money" jdbcType="REAL" property="money"/>
        <result column="month" jdbcType="INTEGER" property="month"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.yilin.app.domain.Rebate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="serise" jdbcType="TINYINT" property="serise" />
        <result column="money" jdbcType="REAL" property="money" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="ratio" jdbcType="REAL" property="ratio" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="operator" jdbcType="INTEGER" property="operator" />
        <result column="level" jdbcType="INTEGER" property="level" />
    </resultMap>
    <resultMap id="PageMap2" type="HashMap">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sName" jdbcType="VARCHAR" property="sName"/>
        <result column="serise" jdbcType="TINYINT" property="serise" />
        <result column="money" jdbcType="REAL" property="money" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="ratio" jdbcType="REAL" property="ratio" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="operator" jdbcType="INTEGER" property="operator" />
        <result column="level" jdbcType="INTEGER" property="level" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, serise, money, time, ratio, type, operator, level
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from rebate
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from rebate
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yilin.app.domain.Rebate">
        insert into rebate (id, user_id, serise,
        money, time, ratio, type,
        operator, level)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{serise,jdbcType=TINYINT},
        #{money,jdbcType=REAL}, #{time,jdbcType=TIMESTAMP}, #{ratio,jdbcType=REAL}, #{type,jdbcType=INTEGER},
        #{operator,jdbcType=INTEGER}, #{level,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.yilin.app.domain.Rebate">
        insert into rebate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="serise != null">
                serise,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="ratio != null">
                ratio,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="serise != null">
                #{serise,jdbcType=TINYINT},
            </if>
            <if test="money != null">
                #{money,jdbcType=REAL},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="ratio != null">
                #{ratio,jdbcType=REAL},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.Rebate">
        update rebate
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="serise != null">
                serise = #{serise,jdbcType=TINYINT},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=REAL},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="ratio != null">
                ratio = #{ratio,jdbcType=REAL},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.Rebate">
    update rebate
    set user_id = #{userId,jdbcType=INTEGER},
      serise = #{serise,jdbcType=TINYINT},
      money = #{money,jdbcType=REAL},
      time = #{time,jdbcType=TIMESTAMP},
      ratio = #{ratio,jdbcType=REAL},
      type = #{type,jdbcType=INTEGER},
      operator = #{operator,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectList" parameterType="map" resultMap="PageMap">
        SELECT
        user_id, serise, sum(money) money, MONTH (time) month,date_format(time,'%Y-%m') ym
        from rebate
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="serise != null">
            and serise = #{serise}
        </if>
        GROUP by user_id,serise,month,ym
        order by time desc
    </select>


    <select id="selectList2" parameterType="map" resultMap="PageMap2">
        SELECT
        r.id, user_id, serise, money, r.time, ratio, type, operator,s.name sName, level,u.name,u.login_name,u.phone
        from rebate r
        LEFT JOIN user u on u.id = r.user_id
        LEFT JOIN SYSTEM_USER s on s.id = operator
        where 1=1
        <if test="name != null">
            and u.name like '%${name}%'
        </if>
        <if test="serise != null">
            and serise = #{serise}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        order by time desc
        limit #{start},#{pageSize}
    </select>
    <select id="count" parameterType="map" resultType="int">
        SELECT
        count(*)
        from rebate r
        LEFT JOIN user u on u.id = r.user_id
        where 1=1
        <if test="name != null">
            and u.name like '%${name}%'
        </if>
        <if test="serise != null">
            and serise = #{serise}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
    </select>
</mapper>