<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.RechargeMapper">
    <resultMap id="BaseResultMap" type="com.yilin.app.domain.Recharge">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="serise" jdbcType="TINYINT" property="serise" />
        <result column="money" jdbcType="REAL" property="money" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="voucher" jdbcType="VARCHAR" property="voucher" />
        <result column="auditor" jdbcType="INTEGER" property="auditor" />
    </resultMap>
    <resultMap id="PageMap" type="HashMap">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="serise" jdbcType="TINYINT" property="serise" />
        <result column="money" jdbcType="REAL" property="money" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="voucher" jdbcType="VARCHAR" property="voucher" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="auditor" jdbcType="INTEGER" property="auditor" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, serise, money, time, status, voucher, auditor
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from recharge
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from recharge
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yilin.app.domain.Recharge">
        insert into recharge (id, user_id, serise,
        money, time, status,
        voucher, auditor)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{serise,jdbcType=TINYINT},
        #{money,jdbcType=REAL}, #{time,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},
        #{voucher,jdbcType=VARCHAR}, #{auditor,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.yilin.app.domain.Recharge">
        insert into recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="serise != null">
                serise,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="voucher != null">
                voucher,
            </if>
            <if test="auditor != null">
                auditor,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="serise != null">
                #{serise,jdbcType=TINYINT},
            </if>
            <if test="money != null">
                #{money,jdbcType=REAL},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="voucher != null">
                #{voucher,jdbcType=VARCHAR},
            </if>
            <if test="auditor != null">
                #{auditor,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.Recharge">
        update recharge
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="serise != null">
                serise = #{serise,jdbcType=TINYINT},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=REAL},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="voucher != null">
                voucher = #{voucher,jdbcType=VARCHAR},
            </if>
            <if test="auditor != null">
                auditor = #{auditor,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.Recharge">
    update recharge
    set user_id = #{userId,jdbcType=INTEGER},
      serise = #{serise,jdbcType=TINYINT},
      money = #{money,jdbcType=REAL},
      time = #{time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      voucher = #{voucher,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectPage" parameterType="map" resultMap="PageMap">
        select
         r.id, user_id, serise, money, r.time, r.status, voucher, auditor,name,phone,login_name
        from recharge r
        LEFT join user u on r.user_id = u.id
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="serise != null">
            and serise = #{serise}
        </if>
        <if test="status != null">
            and r.status = #{status}
        </if>
        order by time desc
        limit #{start},#{pageSize}
    </select>

    <select id="count" parameterType="map" resultType="int">
        select
        count(*)
        from recharge
        where 1=1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="serise != null">
            and serise = #{serise}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
</mapper>