<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.app.mapper.SystemUserMapper">
    <resultMap id="BaseResultMap" type="com.yilin.app.domain.SystemUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="login_name" jdbcType="VARCHAR" property="loginName" />
        <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, login_name, login_pwd, phone, sex, status, login_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from system_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from system_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yilin.app.domain.SystemUser">
        insert into system_user (id, name, login_name,
        login_pwd, phone, sex,
        status, login_time)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR},
        #{loginPwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR},
        #{status,jdbcType=TINYINT}, #{loginTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yilin.app.domain.SystemUser">
        insert into system_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="loginPwd != null">
                login_pwd,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPwd != null">
                #{loginPwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yilin.app.domain.SystemUser">
        update system_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="loginPwd != null">
                login_pwd = #{loginPwd,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yilin.app.domain.SystemUser">
    update system_user
    set name = #{name,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      status = #{status,jdbcType=TINYINT},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPage" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from system_user
      where 1=1
      <if test="name != null">
          and  name like '%${name}%'
      </if>
      <if test="login_name != null">
          and  login_name like '%${login_name}%'
      </if>
      <if test="phone != null">
          and  phone like '%${phone}%'
      </if>
    limit #{start},#{pageSize}
  </select>

    <select id="selectForLogin" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from system_user
        where login_name = #{loginName} and login_pwd = #{loginPwd}
    </select>
    <select id="count" parameterType="map" resultType="int">
        select
        count(*)
        from system_user
        where 1=1
        <if test="name != null">
            and  name like '%${name}%'
        </if>
        <if test="login_name != null">
            and  login_name like '%${login_name}%'
        </if>
        <if test="phone != null">
            and  phone like '%${phone}%'
        </if>
    </select>

</mapper>